<% layout('../layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>