<% layout('layout') -%>

<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					ABOUT
				</h1>
			</div>
		</div>
	</div>
</section>

<div class="p50-wrapper">
	<h2>Inspiration</h2>

	<p>The prompt provided by Global Hack, and the goodness of our hearts. We have several non-native group members that
		provided valuable insight into what it feels like to be in a foreign land without a support system. </p>

	<h2>What it does</h2>

	<p>Our site connects people from the same origin country that are in the same American city. The Guides and Resources
		on our site help people in the first hours or days that non-native people are in a new city. Our web application
		introduces these people to each other, and provides a list of resources to help acclimate them to a new area. </p>

	<h2>How we built it</h2>

	<p>Stayed on site the entire time, brainstormed together, ate together, coded together.</p>

	<h2>Challenges we ran into</h2>

	<p>Connecting the database to the web application, and implementing the database, the user interface of the site, and
		the overall user experience and front end.</p>

	<h2>Accomplishments that we're proud of</h2>

	<p><strong>Working together as a team.</strong> Having a finished product that is hosted online with realtime
		functionality and purpose.</p>

	<h2>What we learned</h2>

	<p>The struggle of moving to a new land with no support system can be as much if not more challenging as staying in an
		area with a lot of conflict. Working together as a team. </p>

	<h2>What's next for TritonForks</h2>

	<p>All team members are current UMSL students, so it is easy to collaborate and continue the development and/or
		support through the UMSL Computing Club.</p>
</div>