<% layout('layout') -%>

<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					ABOUT
				</h1>
			</div>
		</div>
	</div>
</section>

<div class="p50-wrapper">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget neque tellus. Proin tincidunt mi eget arcu
		imperdiet, nec tempus sapien elementum. Vestibulum commodo sagittis ligula, sed sodales velit. Suspendisse mi magna,
		facilisis ut nunc vitae, tincidunt pulvinar mi. Ut feugiat nisl vel tortor feugiat suscipit. Vivamus suscipit urna
		elit, at sagittis sapien accumsan at. Nunc vestibulum sapien ac turpis accumsan tempus.
		<p>
		</p>

		Sed nisl arcu, viverra at ante ut, tempor tristique quam. Nullam dictum elit laoreet elit sodales, a tempor nisl
		condimentum. Nulla vitae aliquam lectus. Donec suscipit, augue dapibus imperdiet aliquet, urna justo condimentum
		risus, in commodo augue ex in ipsum. Duis hendrerit sit amet urna id posuere. Integer vestibulum convallis dolor sit
		amet facilisis. Donec aliquam ex id erat posuere viverra. Nullam ultrices eros tempus leo elementum rhoncus in vitae
		sem. Suspendisse ligula dolor, tristique sagittis maximus rhoncus, pellentesque at arcu. Donec maximus at ipsum vel
		ullamcorper. Donec fermentum lacus et erat scelerisque, quis finibus orci lobortis. Nulla ullamcorper, enim et
		pretium vestibulum, neque turpis eleifend libero, id pellentesque velit nulla in odio. Nulla rutrum lorem eu neque
		gravida, eget gravida augue efficitur.
		<p>
		</p>
		Maecenas rhoncus mauris at condimentum rhoncus. Ut luctus aliquam cursus. Suspendisse mattis dictum arcu, sed
		volutpat risus facilisis eu. Phasellus in imperdiet nisl, id facilisis sapien. Donec et arcu orci. Integer orci nisl,
		maximus vitae nisi sed, gravida laoreet risus. Ut tristique leo sed nisi tempor tempor. Nam ac velit a eros dignissim
		posuere. Cras lobortis mi ligula, vitae placerat odio bibendum in. Curabitur molestie felis felis, at bibendum turpis
		aliquet eget.
	</p>
</div>