<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="p50-wrapper">
    <h2>
        FACEBOOK Communities links:
    </h2>

    <br>

    <h3>
        St. Louis Indian Community:
    </h3>
    <div class="p30-wrapper">
        <h5>
            <p>
                St. Louis Indians: <a href="https://www.facebook.com/groups/414542835225415/" target="_blank">https://www.facebook.com/groups/414542835225415/</a>
            </p>
            <p>
                STL INDIANS: <a href="https://www.facebook.com/groups/stlindian/?ref=nf_target&fref=nf" target="_blank">https://www.facebook.com/groups/stlindian/?ref=nf_target&fref=nf</a>
            </p>
            <p>
                UMSL ISS: <a href="https://www.facebook.com/umsl.isss/" target="_blank">https://www.facebook.com/umsl.isss/
                </a>
            </p>
        </h5>
    </div>

    <br>

    <h3>
        St. Louis Syrian Community:
    </h3>
    <div class="p30-wrapper">
        <h5>
            <p>
                Welcome Neighbor STL: <a href="https://www.facebook.com/groups/WelcomeNeighborSTL/" target="_blank">https://www.facebook.com/groups/WelcomeNeighborSTL/</a>
            </p>
        </h5>
    </div>

    <br>

    <h3>
        Chicago Indian Community:
    </h3>
    <div class="p30-wrapper">
        <h5>
            <p>
                Indians in Chicago: <a href="https://www.facebook.com/groups/Chicagoindians/" target="_blank">https://www.facebook.com/groups/Chicagoindians/</a>
            </p>
        </h5>
    </div>

    <br>

    <h3>
        Chicago Indian Community:
    </h3>
    <div class="p30-wrapper">
        <h5>
            <p>
                Syrians in Chicago: <a href="https://www.facebook.com/groups/1670555106524166" target="_blank">https://www.facebook.com/groups/1670555106524166</a>
            </p>
        </h5>
    </div>
</div>