<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="p50-wrapper">
    <p>
        <h3>
            As a foreign worker, you will need a visa to be employed in the U.S. Each type of visa has unique
            requirements,
            conditions, and time limits.
        </h3>
    </p>

    <h5>
        <ul class="p30-wrapper">
            <li>
                <p>
                    Visit the U.S. Citizenship and Immigration Service’s (USCIS) for an overview of each worker
                    category
                    and
                    type of visa.
                </p>
            </li>
            <li>
                <p>
                    <a href="https://www.uscis.gov/working-united-states/working-us" target="_blank">
                        https://www.uscis.gov/working-united-states/working-us
                    </a>
                </p>
            </li>
            <li>
                <p>
                    To find the visa you need, the application process, fee, and more information visit <a href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wizard.html" target="_blank">https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wizard.html</a>
                </p>
            </li>
        </ul>
    </h5>
</div>