<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="p50-wrapper">
    <h2>
        INDIAN
    </h2>

    <br>

    <div class="p30-wrapper">
        <h3>
            St. Louis
        </h3>
        <p>
            Seema <a href="https://www.facebook.com/pageseema/">https://www.facebook.com/pageseema/</a>
        </p>

        <br>

        <h3>
            Chicago
        </h3>
        <p>
            Seema <a href="https://www.facebook.com/pageseema/">https://www.facebook.com/pageseema/</a>
        </p>
        <p>
            Patel Brothers <a href="http://www.patelbros.com/">http://www.patelbros.com/</a>
        </p>
        <p>
            Metro Spice Mart <a href="http://metrospicemart.com/en/">http://metrospicemart.com/en/</a>
        </p>
    </div>

    <br>

    <h2>
        SYRIAN
    </h2>

    <br>

    <div class="p30-wrapper">
        <h3>
            St. Louis
        </h3>
        <p>
            Global Foods Market <a href="https://www.globalfoodsmarket.com/">https://www.globalfoodsmarket.com/</a>
        </p>
        <p>
            Worldwide Internation Food Market <a href="https://www.facebook.com/World-Wide-International-Food-Market-416513825030934/">https://www.facebook.com/World-Wide-International-Food-Market-416513825030934/</a>
        </p>

        <br>

        <h3>
            Chicago
        </h3>
        <p>
            Middle Eastern Market <a href="http://www.middleeastbakeryandgrocery.com/">http://www.middleeastbakeryandgrocery.com/</a>
        </p>
    </div>
</div>