<% layout('layout') -%>

<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex justify-content-center align-items-center">
			<div class="banner-content col-lg-10 col-md-12 justify-content-center">
				<h1>
					Find a helpful guide!
				</h1>
				<p class="mx-auto">
					<h3 class="text-white">
						Local guides want to help you!
					</h3>
				</p>
				<p class="text-left mx-auto">
					<h5 class="text-white">
						<h6 class="text-uppercase">Enter the country you are coming from and the city you are going to.</h6>
						<h3>
							<form action="#">
								<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
									<div class="form-select" id="default-select">
										<select>
											<option value="1">Country you are from</option>
											<option value="1">Syria</option>
											<option value="1">India</option>
										</select>
									</div>
								</div>
								<div class="input-group-icon mt-10">
									<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
									<div class="form-select" id="default-select">
										<select>
											<option value="1">City you are going to</option>
											<option value="1">St. Louis</option>
											<option value="1">Chicago</option>
										</select>
									</div>
								</div>
								<button type="submit" class="primary-btn squire mx-auto mt-20">CLICK HERE TO FIND A GUIDE</button>
								<button type="submit" class="primary-btn squire mx-auto mt-20">CLICK HERE TO FIND RESOURCES</button>
							</form>
						</h3>
					</h5>
				</p>
			</div>
		</div>
	</div>
</section>