<% layout('layout') -%>

<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex justify-content-center align-items-center">
			<div class="banner-content col-lg-10 col-md-12 justify-content-center">
				<p>
					<h1 class="text-white">Discover Your Path!</h1>
				</p>
				<p class="mx-auto">
					<h3 class="text-white">
						Local guides want to help you!
					</h3>
				</p>

				<br>
				<br>

				<p class="text-left mx-auto">
					<h5 class="text-white">
						<h6 class="text-uppercase">Enter the country you are coming from and the city you are going to.</h6>
						<h3>
							<div class="input-group-icon mt-10">
								<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
								<div class="form-select" id="default-select">
									<select id="country">
										<option selected>Country you are from . . . </option>
										<% for(var i = 0; i < states.length; i++) { %>
										<option value="<%= states[i].id %>">
											<%= states[i].name %>
										</option>
										<% } %>
									</select>
								</div>
							</div>
							<div class="input-group-icon mt-10">
								<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
								<div class="form-select" id="default-select">
									<select id="city">
										<option selected>City you are going to . . . </option>
										<% for(var i = 0; i < cities.length; i++) { %>
										<option value="<%= cities[i].id %>">
											<%= cities[i].name %>
										</option>
										<% } %>
									</select>
								</div>
							</div>
							<button type="submit" id="findGuides" class="primary-btn squire mx-auto mt-20">CLICK HERE TO FIND A GUIDE</button>
							<button type="submit" id="findResources" class="primary-btn squire mx-auto mt-20">CLICK HERE TO FIND RESOURCES</button>
						</h3>
					</h5>
				</p>
			</div>
		</div>
	</div>
</section>