<% layout('layout') -%>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex justify-content-center align-items-center">
			<div class="banner-content col-lg-10 col-md-12 justify-content-center">
				<h6 class="text-uppercase">Welcome!</h6>
				<h1>
					Click the button to find a guide to help your transition to the United States!
				</h1>
				<p class="text-white mx-auto">
					Local guides want to help you!
				</p>
				<a href="getstarted" class="primary-btn squire text-uppercase mt-10">Get Started NOW!</a>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<!--<section class="home-about-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<h6 class="text-uppercase">Brand new service to blow your mind</h6>
				<h1>
					We understand you need help naviagting a new area. 
				</h1>
				<p>
					<span>We are here to connect you to other people who want to help you!</span>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
				</p>
				<a class="primary-btn squire mx-auto mt-20" href="menu">Get Started Now</a>						
			</div>
		</div>
	</div>	
	<img class="about-img" src="img/about-img.png" alt="">
</section>-->
<!-- End home-about Area -->

<!-- Start review Area -->
<!--<section class="review-area section-gap relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-9 pb-40 header-text text-center">
				<h1 class="pb-10 text-white">Enjoy our Client’s Review</h1>
				<p>
					Who are in extremely love with eco friendly system.
				</p>
			</div>
		</div>					
		<div class="row">
			<div class="active-review-carusel">
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Fannie Rowe</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Hulda Sutton</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Fannie Rowe</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Hulda Sutton</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>	
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Fannie Rowe</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Hulda Sutton</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Fannie Rowe</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Hulda Sutton</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>																												
			</div>
		</div>
	</div>	
</section>-->
<!-- End review Area -->


<!-- Start blog Area -->
<!--
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 pb-30 header-text">
				<h1>Latest posts from our Blog</h1>
				<p>
					Do you want to share your love of cheese fondue with your children? Or did you just find out that one of your fondue party guests doesn’t drink alcohol.
				</p>
			</div>
		</div>
		<div class="row">	
			<div class="single-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="img/b1.jpg" alt="">	
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>							
				<a href="#">
					<h4>Stocking Your Restaurant
					Kitchen Finding Reliable Sellers</h4>
				</a>
				<p>
					Saving money – is something we would all like to do. Whether you are struggling to manage day to day or earning a six figure salary, saving is something we all think about.
				</p>
			</div>
			<div class="single-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="img/b2.jpg" alt="">	
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>							
				<a href="#">
					<h4>Cooking For Special Occasions
					Cookware In The Brick And Mortr</h4>
				</a>
				<p>
					Let’s talk about meat fondue recipes and what you need to know first. Meat fondue also known as oil fondue is a method of cooking all kinds of meats, poultry, and seafood in a pot of heated oil.
				</p>
			</div>
			<div class="single-blog col-lg-4 col-md-4">
				<div class="thumb">
					<img class="f-img img-fluid mx-auto" src="img/b3.jpg" alt="">	
				</div>
				<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
					<div>
						<img class="img-fluid" src="img/user.png" alt="">
						<a href="#"><span>Mark Wiens</span></a>
					</div>
					<div class="meta">
						13th Dec
						<span class="lnr lnr-heart"></span> 15
						<span class="lnr lnr-bubble"></span> 04
					</div>
				</div>							
				<a href="#">
					<h4>When Your Meal Bites Back Tips For
					Avoiding Food Poisoning</h4>
				</a>
				<p>
					While some people really seem to have a knack for barbequing – always grilling up a perfect meal – for the rest of us, it is something that must be learned, not something that just comes naturally. Believe it or not, there is technique involved.
				</p>
			</div>												
		</div>
	</div>	
</section>
-->
<!-- end blog Area -->