<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="p50-wrapper">
    <p>
        <h3>
            <span>If you believe you need protection as a refugee, contact the United Nations High
                Commissioner for Refugees (UNHCR) <a href="http://www.unhcr.org/en-us/contact-us.html">http://www.unhcr.org/en-us/contact-us.html</a>
                or another international nonprofit volunteer agency. If these organizations are unavailable to you,
                contact the nearest U.S. Embassy or consulate. <a href="https://www.usembassy.gov/">https://www.usembassy.gov/</a>
            </span>
        </h3>
    </p>

    <p>
        <h3>
            <span>
                The refugees' entry process into the U.S. involves many government agencies as part of the U.S. Refugee
                Admissions Program <a href="https://www.state.gov/j/prm/ra/admissions/">https://www.state.gov/j/prm/ra/admissions/</a>,
                which explains the resettlement and a
                refugee's arrival, <a href="https://www.state.gov/j/prm/ra/receptionplacement/index.htm">https://www.state.gov/j/prm/ra/receptionplacement/index.htm</a>
            </span>
        </h3>
    </p>
</div>