<% layout('layout') -%>

<section class="banner-area relative about-banner" id="guides">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <p>
                    <h1 class="text-white">
                        <%= title %>
                    </h1>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="p50-wrapper">
    <h3>
        INDIAN RESTAURANTS
    </h3>

    <br>

    <p>
        <h5>
            St. Louis:
        </h5>
        <ul class="p30-wrapper">
            <li>
                Anis Hyderabad <a href="http://www.anisusa.com/" target="_blank">http://www.anisusa.com/</a>
            </li>
            <li>
                Swagruha Indian Cuisine <a href="http://swagruhastl.com/" target="_blank">http://swagruhastl.com/</a>
            </li>
            <li>
                Signature India <a href="https://www.signatureindiastl.com/" target="_blank">https://www.signatureindiastl.com/</a>
            </li>
        </ul>
    </p>

    <p>
        <h5>
            Chicago:
        </h5>
        <ul class="p30-wrapper">
            <li>
                India House <a href="http://indiahousechicago.com/" target="_blank">http://indiahousechicago.com/</a>
            </li>
            <li>
                Ghareeb Nawaz Restaurant <a href="https://ghareebnawazonline.com/" target="_blank">https://ghareebnawazonline.com/</a>
            </li>
        </ul>
    </p>

    <br>

    <h3>
        SYRIAN RESTAURANTS
    </h3>

    <br>

    <p>
        <h5>
            St. Louis:
        </h5>
        <ul class="p30-wrapper">
            <li>
                Ranoush <a href="http://www.ranoush.com/" target="_blank">http://www.ranoush.com/</a>
            </li>
            <li>
                The Vine Mediterranean Cafe <a href="http://www.thevinestl.com/thevinecafe/Home.html" target="_blank">http://www.thevinestl.com/thevinecafe/Home.html</a>
            </li>
        </ul>
    </p>

    <p>
        <h5>
            Chicago:
        </h5>
        <ul class="p30-wrapper">
            <li>
                Semiramis Lebanese Restaurant <a href="https://www.semiramislebanese.com/" target="_blank">https://www.semiramislebanese.com/</a>
            </li>
            <li>
                Old Jerusalem <a href="https://oldjerusalemchicagoil.com/" target="_blank">https://oldjerusalemchicagoil.com/</a>
            </li>
        </ul>
    </p>
</div>